<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <base href="/"/>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body ng-cloak>
<h2>Welcome to Test API 2</h2>
<div ng-view></div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.6.0/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/user-service.js"></script>
<script src="js/controllers/index.js"></script>
</body>
</html>